body {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 15px;
  font-family: Tahoma, sans-serif;
}

p {
  font-size: 14px;
}

main {
  width: 85%;
}

#content {
  width: 100%;
  background-color: #d4ecdd;
}

#nav {
  width: 100%;
  background-color: #345b63;
  color: white;
  padding: 5px;
}
#nav a {
  color: white;
  text-decoration: none;
}
#logo {
  width: 3%;
}
#menu {
  width: 87%;
}
#session {
  width: 10%;
  text-align: right;
}

#space-10px {
  height: 10px;
}

.fa-heart {
  font-weight: 100 !important;
  width: 20px;
  font-size: 11px;
  color: #345b63;
}
.fa-heart:hover {
  font-weight: 900 !important;
}
.filledHeart {
  font-weight: 900 !important;
}

.oderNum {
  color: #345b63;
  font-size: 14px;
}
.titleText {
  text-decoration: none;
  font-size: 14px;
  color: rgb(24, 24, 24);
}
.newLink {
  text-decoration: none;
  font-size: 12px;
  color: #345b63;
}

.newActions,
.newActions a {
  text-decoration: none;
  font-size: 12px;
  color: #345b63;
}

.line {
  border-top: 3px solid #345b63;
}

#footerData {
  text-align: center;
}
#footerLinks a {
  font-size: 13px;
  color: #345b63;
  text-decoration: none;
}

.button {
  color: white;
  background-color: #345b63;
  border: 0px;
  border-radius: 2px;
  padding: 3px 6px 3px 6px;
}

.button:hover {
  background-color: #5f8f99;
}

.errorMessage {
  color: #63343a;
  padding-left: 3px;
}

.buttonNoStyle {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
  outline: inherit;
  cursor: pointer;
}

.comment {
  margin-left: 12px;
  margin-top: 10px;
}

.commentData {
  display: flex;
  flex-direction: row;
}

.reply {
  font-size: 13px;
  color:black;
  margin-top: -10px;
	cursor: pointer;
}