<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hacker News</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../public/stylesheets/application.css">
        <link rel="stylesheet" type="text/css" href="../public/stylesheets/login.css">
        <script src="https://kit.fontawesome.com/733e866dde.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </head>
    <body>
        <main>
            <div id="loginHeader">
                <span class="loginTitle">Wellcome Hacker Newer!</span>
            </div>
            <div id="loginForms">
                <div id="login">
                    <span class="loginTitle">Login</span>
                    <br><br>
                    <form method="post" action="login">
                        <table>
                            <tr>
                                <td>username</td>
                                <td><input type="text" name="username"></td>
                            </tr>
                            <tr>
                                <td>password</td>
                                <td><input type="text" name="password"></td>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="submit" value="login"></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div id="register">
                    <span class="loginTitle">Register</span>
                    <br><br>
                    <form method="post" action="register">
                        <table>
                            <tr>
                                <td>username</td>
                                <td><input type="text" name="username"></td>
                            </tr>
                            <tr>
                                <td>password</td>
                                <td><input type="text" name="password"></td>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="submit" value="register"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>