<table id="nav" cellspacing="0" cellpadding="0">
    <tr>
        <td id="logo">Y</td>
        <td id="menu">
            <b><a href="/news">Hacker News</a></b>
            |
            <a href="#">welcome</a>
            |
            <a href="/newest">new</a>
            |
            <a href="/threads">threads</a>
            |
            <a href="#">past</a>
            |
            <a href="#">comments</a>
            |
            <a href="/ask">ask</a>
            |
            <a href="#">show</a>
            |
            <a href="#">jobs</a>
            |
            <a href="/submit">submit</a>
        </td>
        <td id="session">
            <a href="#">login</a>
        </td>
    </tr>
</table>