<form method="post" action="#">
    <table>
        <tbody>
            <tr>
                <td></td>
                <td><textarea name="about" rows="4" cols="50"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td>Only admins see your email below. To share publicly, add to the 'about' box.</td>
            </tr>
            <tr>
                <td>email:</td>
                <td><input type="email" name="email" value="" size="50"></td>
            </tr>
            <tr>
                <td>showdead:</td>
                <td>
                    <select name="showdead">
                        <option value="no">no</option>
                        <option value="yes">yes</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>noprocrast:</td>
                <td>
                    <select name="noprocrast">
                        <option value="no">no</option>
                        <option value="yes">yes</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>maxvist:</td>
                <td><input type="text" name="maxvist" value="20" size="20"></td>
            </tr>
            <tr>
                <td>minway:</td>
                <td><input type="text" name="minway" value="180" size="20"></td>
            </tr>
            <tr>
                <td>dealy:</td>
                <td><input type="text" name="dealy" value="0" size="20"></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="#">change password</a></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="#">submissions</a></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="#">comments</a></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="#">hidden</a></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="#">upvoted submissions</a>/ <a href="#">comments</a> <u>(private)</u></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="#">favorite submissions</a>/ <a href="#">comments</a> <u>(public)</u></td>
            </tr>
            <tr>
                <td><input type="submit" value="update" class="button"></td>
            </tr>
            <tr id="space-10px"></tr>
        </tbody>
    </table>
</form>