<form method="post" action="#">
            <tr>
                <td></td>
                <td><textarea name="about" rows="4" cols="50"></textarea></td>
            </tr>
            <tr>
                <td>showdead:</td>
                <td>
                    <select name="showdead">
                        <% if (user.howdead) { %>
                            <option value="no" >no</option>
                            <option value="yes" selected>yes</option>
                        <% } else { %>
                            <option value="no" selected>no</option>
                            <option value="yes">yes</option>
                        <% } %>
                    </select>
                </td>
            </tr>
            <tr>
                <td>noprocrast:</td>
                <td>
                    <select name="noprocrast">
                        <% if (user.noprocrast) { %>
                            <option value="no" >no</option>
                            <option value="yes" selected>yes</option>
                        <% } else { %>
                            <option value="no" selected>no</option>
                            <option value="yes">yes</option>
                        <% } %>
                    </select>
                </td>
            </tr>
            <tr>
                <td>maxvist:</td>
                <td><input type="text" name="maxvist" value="<%= user.maxvisit %>" size="20"></td>
            </tr>
            <tr>
                <td>minway:</td>
                <td><input type="text" name="minway" value="<%= user.minaway %>" size="20"></td>
            </tr>
            <tr>
                <td>dealy:</td>
                <td><input type="text" name="dealy" value="<%= user.delay %>" size="20"></td>
            </tr>
</form>