<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hacker News</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="stylesheets/application.css">
        <script src="https://kit.fontawesome.com/733e866dde.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">-->
        <script type="text/javascript" src="javascript/news.js"></script>
    </head>
    <body>
        <main>
            <table id="content" cellspacing="0" cellpadding="0">
                <tbody>
                    <!--Menu-->
                    <tr>
                        <td>
                            <table id="nav" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td id="logo">Y</td>
                                    <td id="menu">
                                        <b><a href="/news">Hacker News</a></b>
                                        |
                                        <a href="#">welcome</a>
                                        |
                                        <a href="/newest">new</a>
                                        |
                                        <a href="#">threads</a>
                                        |
                                        <a href="#">past</a>
                                        |
                                        <a href="#">comments</a>
                                        |
                                        <a href="#">ask</a>
                                        |
                                        <a href="#">show</a>
                                        |
                                        <a href="#">jobs</a>
                                        |
                                        <a href="/submit">submit</a>
                                    </td>
                                    <td id="session">
                                        <a href="#">login</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!--Space-->
                    <tr id="space-10px"></tr>
                    <!--News-->
                    <tr>
                        <td>
                            <table id="user">
                                <tbody>
                                    <tr>
                                        <td>user:</td>
                                        <td>username</td>
                                    </tr>
                                    <tr>
                                        <td>created:</td>
                                        <td>24 days ago</td>
                                    </tr>                 
                                    <tr>
                                        <td>karma:</td>
                                        <td>5</td>
                                    </tr>

                                    <!--remove--><tr><td>--Logged user--</td></tr>

                                    <!--form-->
                                    <%- include("./userForm.ejs") %>
                                    <tr>
                                        <td></td>
                                        <td><a href="#">change password</a></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><a href="#">submissions</a></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><a href="#">comments</a></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><a href="#">hidden</a></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><a href="#">upvoted submissions</a>/ <a href="#">comments</a> <u>(private)</u></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><a href="#">favorite submissions</a>/ <a href="#">comments</a> <u>(public)</u></td>
                                    </tr>
                                    <tr>
                                        <td><input type="submit" value="update" class="button"></td>
                                    </tr>

                                    <!--remove--><tr><td>--Another user--</td></tr>
                                    
                                    <tr>
                                        <td></td>
                                        <td><a href="#">submissions</a></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><a href="#">comments</a></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><a href="#">favorites</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <!--Line-->
                    <tr>
                        <td><br><div class="line"></div></td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>